<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ua.nure.social"/>

    <bean id="twitterUserMapperConfiguration" class="ua.nure.social.configuration.TwitterUserMapperConfiguration">
        <property name="ignoredFields" >
            <list>
                <value>urlEntity</value>
                <value>showAllInlineMedia</value>
                <value>isVerified</value>
                <value>translator</value>
            </list>
        </property>
    </bean>

</beans>