<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="ua.nure.social"/>

    <bean id="twitterUserClient" scope="prototype" class="ua.nure.social.net.client.TwitterUserClient"/>

    <bean id="twitterPagableTransformer" class="ua.nure.social.net.tools.converter.Twitter4JPagableResponseConverter"/>

    <bean id="randomGenerator" class="ua.nure.social.util.RandomGenerator"/>

    <bean id="randomUserClient" scope="prototype" class="ua.nure.social.net.client.RandomTwitterSocialUserClient"/>

    <bean id="twitterScreenNameExtractor" class="ua.nure.social.analytics.builder.tools.TwitterScreenNameExtractor"/>

    <bean id="randomTwitterClientConfigurator" class="ua.nure.social.net.configuration.RandomTwitterClientConfigurator">
        <property name="nameLengthRange">
            <list>
                <value>4</value>
                <value>10</value>
            </list>
        </property>
        <property name="followersCountRange">
            <list>
                <value>2</value>
                <value>10</value>
            </list>
        </property>
        <property name="friendsCountRange">
            <list>
                <value>4</value>
                <value>10</value>
            </list>
        </property>
    </bean>

</beans>